<div class="card">
    <div style="font-size: medium;" class="card-body">
        <h4><span class="lstick"></span> Filtros </h4>
        <div class="row">
            <!-- <div class="col-xs col-md">
                <div class="form-group">
                    <label for="fecha_inicio">Fecha inicio :
                        <span><b>{{date_start | date}}</b></span>
                    </label>
                    <input type="text" name="fecha_inicio" [(ngModel)]="date_start_StiringTemporal" (ngModelChange)="date_start = calcularFecha(date_start_StiringTemporal)" id="fecha_inicio" class="form-control" placeholder="AAAA MM DD" aria-describedby="fechainicioid">
                </div>
            </div>
            <div class="col-xs b-r col-md">
                <div class="form-group">
                    <label for="fecha_fin">Fecha fin:
                        <span><b>{{date_end | date}}</b></span>
                    </label>
                    <input type="text" name="fecha_fin" id="fecha_fin" [(ngModel)]="date_end_StiringTemporal" (ngModelChange)="date_end = calcularFecha(date_end_StiringTemporal)" class="form-control" placeholder="AAAA MM DD" aria-describedby="fechafinid">
                </div>
            </div> -->
            <div class="col-xs col-md">
                <div style="justify-content: space-between;" class="inline-flex">
                    <label>Cliente</label>
                    <div *ngIf="cliente" (click)="cliente = null; filtrar()" class="pointer close-icon ml-auto">
                        <button type="button" class="btn btn-sm btn-light"><i class=" ti-close  "></i></button>
                    </div>
                </div>
                <div class="" *ngIf="!cliente">
                    <ng-select [items]="clientes" [(ngModel)]="cliente" (ngModelChange)="onSelectClient(cliente)" (search)="searchClientes($event)" notFoundText="no se encontraron resultados" placeholder="buscar cliente" bindLabel="NOMBRES" [searchFn]="customSearchFn">
                        <ng-template ng-option-tmp let-item="item">
                            <div>
                                <div *ngIf="item.NOMBRES">{{item.APELLIDOS}} {{item.NOMBRES}}</div>
                                <div *ngIf="item.NOMBRES && item.RAZON"> - </div>
                                <div *ngIf="item.RAZON">{{item.RAZON}} </div>


                            </div>

                        </ng-template>
                    </ng-select>
                </div>
                <div class="" *ngIf="cliente">
                    <div>
                        <div *ngIf="cliente.NOMBRES">{{cliente.NOMBRES}} {{cliente.APELLIDOS}}</div>
                        <div *ngIf="cliente.NOMBRES && cliente.RAZON"> - </div>
                        <div *ngIf="cliente.RAZON">{{cliente.RAZON}} </div>

                        <small>{{cliente.RUC}}</small>
                    </div>
                </div>
            </div>
            <div class="col-xs col-md">
                <div style="justify-content: space-between;" class="inline-flex">
                    <label>Fondo</label>
                    <div *ngIf="fondo" (click)="fondo = null; filtrar()" class="pointer close-icon ml-auto">
                        <button type="button" class="btn btn-sm btn-light"><i class=" ti-close  "></i></button>
                    </div>
                </div>
                <div class="" *ngIf="!fondo">
                    <ng-select [items]="fondos" [(ngModel)]="fondo" (ngModelChange)="filtrar()" (search)="searchFondos($event)" notFoundText="no se encontraron resultados" placeholder="buscar fondo" bindLabel="NOMBRES" [searchFn]="customSearchFn">
                        <ng-template ng-option-tmp let-item="item">
                            <div>
                                <div *ngIf="item.NOMBRES">{{item.APELLIDOS}} {{item.NOMBRES}}</div>
                                <div *ngIf="item.NOMBRES && item.RAZON"> - </div>
                                <div *ngIf="item.RAZON">{{item.RAZON}} </div>


                                <small>{{item.RUC}}</small>
                            </div>

                        </ng-template>
                    </ng-select>
                </div>

                <div class="" *ngIf="fondo">
                    <div>
                        <div *ngIf="fondo.NOMBRES">{{fondo.NOMBRES}} {{fondo.APELLIDOS}}</div>
                        <div *ngIf="fondo.NOMBRES && fondo.RAZON"> - </div>
                        <div *ngIf="fondo.RAZON">{{fondo.RAZON}} </div>

                        <small>{{fondo.RUC}}</small>
                    </div>
                </div>
            </div>
            <div style="min-width: 550px;" class="col-xs col-md">
                <div style="justify-content: space-between;" class="inline-flex">
                    <label>Servicio</label>
                    <div *ngIf="servicio" (click)="servicio = null; filtrar()" class="pointer close-icon ml-auto">
                        <button type="button" class="btn btn-sm btn-light"><i class=" ti-close  "></i></button>
                    </div>
                </div>
                <ng-select *ngIf="!servicio" [(ngModel)]="servicio" (ngModelChange)="seleccionarProducto(servicio); filtrar()" [items]="servicios" notFoundText="no se encontraron resultados" placeholder="buscar servicio" bindLabel="NOMBRE">
                    <ng-template ng-option-tmp let-item="item">
                        <div> {{item.NOMBRE}} {{item.COD_CORTO}} <br>
                        </div>
                    </ng-template>
                </ng-select>

                <div class="" *ngIf="servicio">
                    <div *ngIf="servicio.NOMBRE">{{servicio.NOMBRE}} </div>

                </div>
            </div>


        </div>
        <hr>
        <div class="row">
            <div class="col-xs col-md">

                <div style="justify-content: space-between;" class="inline-flex">
                    <label>Cobrador</label>
                    <div *ngIf="cobrador" (click)="cobrador = null; filtrar()" class="pointer close-icon ml-auto">
                        <button type="button" class="btn btn-sm btn-light"><i class=" ti-close  "></i></button>
                    </div>
                </div>
                <div class="" *ngIf="!cobrador">
                    <ng-select [items]="cobradores" [(ngModel)]="cobrador" (search)="searchcobradores($event)" notFoundText="no se encontraron resultados" placeholder="buscar cobrador" bindLabel="NOMBRES" [searchFn]="customSearchFn">
                        <ng-template ng-option-tmp let-item="item">
                            <div>
                                <div *ngIf="item.NOMBRES">{{item.APELLIDOS}} {{item.NOMBRES}}</div>
                                <div *ngIf="item.NOMBRES && item.RAZON"> - </div>
                                <div *ngIf="item.RAZON">{{item.RAZON}} </div>


                            </div>

                        </ng-template>
                    </ng-select>
                </div>


                <div class="" *ngIf="cobrador">
                    <div>
                        <div *ngIf="cobrador.NOMBRES">{{cobrador.NOMBRES}} {{cobrador.APELLIDOS}}</div>
                        <div *ngIf="cobrador.NOMBRES && cobrador.RAZON"> - </div>
                        <div *ngIf="cobrador.RAZON">{{cobrador.RAZON}} </div>

                        <small>{{cobrador.RUC}}</small>
                    </div>
                </div>
            </div>
            <div class="col-xs col-md">
                <div style="justify-content: space-between;" class="inline-flex">
                    <label>Vendedor</label>
                    <div *ngIf="vendedor" (click)="vendedor = null; filtrar()" class="pointer close-icon ml-auto">
                        <button type="button" class="btn btn-sm btn-light"><i class=" ti-close  "></i></button>
                    </div>
                </div>
                <div class="" *ngIf="!vendedor">
                    <ng-select [items]="vendedores" [(ngModel)]="vendedor" (search)="searchvendedores($event)" notFoundText="no se encontraron resultados" placeholder="buscar vendedor" bindLabel="NOMBRES" [searchFn]="customSearchFn">
                        <ng-template ng-option-tmp let-item="item">
                            <div>
                                <div *ngIf="item.NOMBRES">{{item.APELLIDOS}} {{item.NOMBRES}}</div>
                                <div *ngIf="item.NOMBRES && item.RAZON"> - </div>
                                <div *ngIf="item.RAZON">{{item.RAZON}} </div>



                            </div>

                        </ng-template>
                    </ng-select>
                </div>


                <div class="" *ngIf="vendedor">
                    <div>
                        <div *ngIf="vendedor.NOMBRES">{{vendedor .NOMBRES}} {{vendedor .APELLIDOS}}</div>
                        <div *ngIf="vendedor   .NOMBRES && vendedor  .RAZON"> - </div>
                        <div *ngIf="vendedor   .RAZON">{{vendedor .RAZON}} </div>

                        <small>{{vendedor.RUC}}</small>
                    </div>
                </div>
            </div>
            <div class="col-xs col-md">
                <div *ngIf="cliente && !contrato" class="d-flex mt-3">
                    <button type="button" (click)="showModal = true" class="btn mx-auto btn-info">Seleccionar Contrato</button>
                </div>

                <div style="width: fit-content;" class="mt-3" *ngIf="contrato">
                    <div style="display: flex;" class="">
                        <span>Contrato</span>
                        <div *ngIf="contrato" style="height: fit-content;" class="pointer close-icon ml-auto">
                            <button (click)="contrato = null; filtrar()" type="button" class="btn btn-sm btn-light"><i
                                    class=" ti-close  "></i></button>
                        </div>
                    </div>

                    <div *ngIf="contrato">
                        <div style="display: flex;" class="">

                            <div class="card bg-light">
                                <div class="card-body">

                                    <span><b>Titular:</b> {{contrato.titular.NOMBRES}}
                                        {{contrato.titular.APELLIDOS}}</span>
                                    <br>
                                    <span><b>Servicio:</b> {{contrato.producto.NOMBRE}}</span>
                                    <br>
                                    <span><b>Número de contrato:</b> {{contrato.nro_contrato}}</span>
                                    <br>
                                    <span><b>Fecha de creación:</b> {{contrato.fecha_creacion_unix | date }}</span>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- <hr> -->



        <!-- <button type="button" (click)="filtrar()" class=" float-right btn btn-primary">filtrar</button> -->
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="d-flex">
            <button type="button" [routerLink]="['/admin/crear_ingreso']" routerLinkActive="router-link-active" class="btn btn-info mx-auto">Crear Nuevo Ingreso</button>
        </div>
    </div>
</div>
<app-facturas *ngIf="!showModal" [count]="count" [options]="opciones" [facturas]="facturas"></app-facturas>

<div *ngIf="contrato" class="card">
    <div class="card-body">
        <h4> <span class="lstick"></span>Pagar Cuotas</h4>

        <div class="my-3 d-flex">
            <div class="mx-auto">
                <div class="form-group">
                    <input type="text" class="form-control" #montoAPagar name="" id="" aria-describedby="helpId" placeholder="ingresar monto a pagar">
                </div>
            </div>

        </div>
        <div class="d-flex">
            <div class="mx-auto">
                <button (click)="getFacturasApagar(contrato._id, montoAPagar.value)" class="btn btn-info">calcular</button>
            </div>

        </div>
        <div class="" *ngIf="facturasAPagar">

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Cuotas</h3>

                    <div style="overflow: auto; max-height: 400px;">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Vencimiento</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr *ngFor="let cuota of facturasAPagar; let i = index">
                                    <td scope="row">{{i+1}}</td>
                                    <td>{{cuota.vencimiento | date}}</td>
                                    <td>{{cuota.haber| currency:'':'':'2.0' }} Gs</td>
                                </tr>


                            </tbody>

                        </table>
                    </div>

                </div>
            </div>

            <div class="inline-flex">
                <h4 class="mr-3"><b>Fondo:</b></h4>
                <div class="" *ngIf="!fondo">
                    <ng-select [ngStyle]="{minWidth: '300px'}" [items]="fondos" [(ngModel)]="fondo" (search)="searchBancos($event)" notFoundText="no se encontraron resultados" placeholder="buscar origen fondo" bindLabel="NOMBRES" [searchFn]="customSearchFn">
                        <ng-template ng-option-tmp let-item="item">
                            <div>
                                <div *ngIf="item.NOMBRES">{{item.APELLIDOS}} {{item.NOMBRES}}</div>
                                <div *ngIf="item.NOMBRES && item.RAZON"> - </div>
                                <div *ngIf="item.RAZON">{{item.RAZON}} </div>


                                <small>{{item.RUC}}</small>
                            </div>

                        </ng-template>
                    </ng-select>
                </div>

                <div class="" *ngIf="fondo">
                    <h4>
                        <div *ngIf="fondo.NOMBRES">{{fondo.NOMBRES}} {{fondo.APELLIDOS}}</div>
                        <div *ngIf="fondo.NOMBRES && fondo.RAZON"> - </div>
                        <div *ngIf="fondo.RAZON">{{fondo.RAZON}} </div>

                        <small>{{fondo.RUC}}</small>
                    </h4>
                </div>

            </div>

            <div class="d-flex">
                <div class="mx-auto">
                    <button (click)="confirmarPago(contrato._id, montoAPagar.value, fondo)" [disabled]="!fondo" class="btn btn-success">Confirmar Pago</button>
                </div>

            </div>
        </div>
    </div>
</div>



<app-modal-contratos (contratoSelected)="onContratoSelected($event)" [cliente]="cliente" (onClose)="showModal = false" *ngIf="showModal"></app-modal-contratos>