<div class="card">
    <div *ngIf="factura" class="card-body">
        <h4><b>Servicio:</b> {{factura.contrato.nombre_servicio}}</h4>
        <h4><b>Titular:</b> {{factura.titular.NOMBRES}} {{factura.titular.APELLIDOS}} </h4>
        <h4><b>Fecha de emision:</b> {{factura.fecha_creacion_unix | date:' d, MMM y - h:mm a'}}</h4>
        <h4><b>Vencimientio:</b> {{factura.vencimiento | date:' d, MMM y'}}</h4>
        <h4><b>Monto:</b> {{factura.haber | currency: '':'':'2.0'}} Gs</h4>
        <h4 *ngIf="factura.pagado"><b>pagado:</b> {{factura.fecha_pagado_unix | date:' d, MMM y - h:mm a'}}</h4>
        <button *ngIf="!factura.pagado" (click)="pagar()" type="button" class="btn btn-primary">Pagar</button>
    </div>
</div>