<div class="my-container">

    <ng-template #customLoadingTemplate>

    </ng-template>



    <div class="card">



        <div class="card-body">
            <div style="justify-content: space-between;" class="inline-flex">
                <h4 class="card-title">Categoria</h4>
                <div class="pointer close-icon ml-auto">
                    <button (click)="resetBreadcrumb()" type="button" class="btn btn-sm btn-light"><i
                            class=" ti-close  "></i></button>
                </div>
            </div>
            <ol *ngIf="breadCrumb.length>0" class="mt-2 breadcrumb">
                <li *ngFor="let item of breadCrumb; let i = index;" class="breadcrumb-item">
                    <a (click)="navigateBreadcrumb(i)" href="javascript:void(0)"><strong>{{item.descripcion}}</strong></a>
                </li>
            </ol>
            <div *ngIf="true" class="ng-autocomplete">
                <div class="inline-flex">
                    <ng-select style="width: 90%;" [items]="tipos_movimiento" [(ngModel)]="tipo" (ngModelChange)="selectCategory(tipo)" [searchFn]="customSearchFnMovimientos" notFoundText="no se encontraron resultados" placeholder="buscar tipo de movimiento">
                        <ng-template ng-option-tmp let-item="item">
                            <div> {{item.descripcion}} {{item.nombre_padre}}
                            </div>

                        </ng-template>
                    </ng-select>
                    <button (click)=" saveshowCrearMovimiento(true)" type="button" [disabled]="breadCrumb.length == 0" class="btn btn-primary ml-2">Crear
                        Movimiento</button>
                </div>
            </div>


            <div class="" *ngIf="showCrearMovimiento"><br>

                <h3>Nuevo Movimiento</h3>
                <div class="row">
                    <div class="col-xs col-md-3 mt-2">
                        <div class="inline-flex">
                            <label class="">Origen Fondo</label>
                            <div *ngIf="fondo" class="pointer close-icon ml-auto">
                                <button (click)="fondo = null" type="button" class="btn btn-sm btn-light"><i
                                        class=" ti-close  "></i></button>
                            </div>
                        </div>
                        <div class="" *ngIf="!fondo">
                            <ng-select [items]="fondos" [(ngModel)]="fondo" (search)="searchBancos($event)" notFoundText="no se encontraron resultados" placeholder="buscar origen fondo" bindLabel="NOMBRES" [searchFn]="customSearchFn">
                                <ng-template ng-option-tmp let-item="item">
                                    <div>
                                        <div *ngIf="item.NOMBRES">{{item.NOMBRES}} {{item.APELLIDOS}}</div>
                                        <div *ngIf="item.NOMBRES && item.RAZON"> - </div>
                                        <div *ngIf="item.RAZON">{{item.RAZON}} </div>
                                        <small>{{item.RUC}}</small>
                                    </div>

                                </ng-template>
                            </ng-select>
                        </div>

                        <div class="" *ngIf="fondo">
                            <div>
                                <div *ngIf="fondo.NOMBRES">{{fondo.NOMBRES}} {{fondo.APELLIDOS}}</div>
                                <div *ngIf="fondo.NOMBRES && fondo.RAZON"> - </div>
                                <div *ngIf="fondo.RAZON">{{fondo.RAZON}} </div>

                                <small>{{fondo.RUC}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs col-md-3 mt-2">
                        <div class="inline-flex">
                            <label class="">Servicio</label>

                            <div *ngIf="servicio" style="height: fit-content;" class="pointer close-icon ml-auto">
                                <button (click)="servicio = null" type="button" class="btn btn-sm btn-light"><i
                                        class=" ti-close  "></i></button>
                            </div>
                        </div>
                        <div class="" *ngIf="!servicio">
                            <ng-select *ngIf="!servicio" [(ngModel)]="servicio" [items]="servicios" notFoundText="no se encontraron resultados" placeholder="buscar servicio" bindLabel="NOMBRE">
                                <ng-template ng-option-tmp let-item="item">
                                    <div> {{item.NOMBRE}} {{item.COD_CORTO}} <br>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>

                        <div class="" *ngIf="servicio">
                            <div>
                                <div> {{servicio.NOMBRE}} {{servicio.COD_CORTO}} </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs col-md-3 mt-2">
                        <div class="inline-flex">

                            <label class="">Proveedor</label>
                            <div *ngIf="proveedor" class="pointer close-icon ml-auto">
                                <button (click)="proveedor = null" type="button" class="btn btn-sm btn-light"><i
                                        class=" ti-close  "></i></button>
                            </div>
                        </div>
                        <div class="" *ngIf="!proveedor">
                            <ng-select [items]="proveedores" [(ngModel)]="proveedor" (search)="searchProveedores($event)" notFoundText="no se encontraron resultados" placeholder="buscar proveedor" bindLabel="NOMBRES" [searchFn]="customSearchFn">
                                <ng-template ng-option-tmp let-item="item">
                                    <div>
                                        <div *ngIf="item.NOMBRES">{{item.NOMBRES}} {{item.APELLIDOS}}</div>
                                        <div *ngIf="item.NOMBRES && item.RAZON"> - </div>
                                        <div *ngIf="item.RAZON">{{item.RAZON}} </div>


                                        <small>{{item.RUC}}</small>
                                    </div>

                                </ng-template>
                            </ng-select>
                        </div>


                        <div class="" *ngIf="proveedor">
                            <div>
                                <div *ngIf="proveedor.NOMBRES">{{proveedor .NOMBRES}} {{proveedor .APELLIDOS}}</div>
                                <div *ngIf="proveedor   .NOMBRES && proveedor  .RAZON"> - </div>
                                <div *ngIf="proveedor   .RAZON">{{proveedor .RAZON}} </div>

                                <small>{{proveedor.RUC}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs col-md-3 mt-2">
                        <div class="inline-flex">
                            <label class="">Cliente</label>
                            <div *ngIf="cliente" class="pointer close-icon ml-auto">
                                <button (click)="cliente = null" type="button" class="btn btn-sm btn-light"><i
                                        class=" ti-close  "></i></button>
                            </div>
                        </div>
                        <div class="" *ngIf="!cliente">
                            <ng-select [items]="clientes" [(ngModel)]="cliente" (search)="searchClientes($event)" notFoundText="no se encontraron resultados" placeholder="buscar cliente" bindLabel="NOMBRES" [searchFn]="customSearchFn">
                                <ng-template ng-option-tmp let-item="item">
                                    <div>
                                        <div *ngIf="item.NOMBRES">{{item.NOMBRES}} {{item.APELLIDOS}}</div>
                                        <div *ngIf="item.NOMBRES && item.RAZON"> - </div>
                                        <div *ngIf="item.RAZON">{{item.RAZON}} </div>


                                        <small>{{item.RUC}}</small>
                                    </div>

                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="" *ngIf="cliente">
                            <div>
                                <div *ngIf="cliente.NOMBRES">{{cliente.NOMBRES}} {{cliente.APELLIDOS}}</div>
                                <div *ngIf="cliente.NOMBRES && cliente.RAZON"> - </div>
                                <div *ngIf="cliente.RAZON">{{cliente.RAZON}} </div>

                                <small>{{cliente.RUC}}</small>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs col-md-3 mt-2">
                        <div class=" form-group">
                            <label for="">Nro</label>
                            <input type="text" [(ngModel)]="nro" class="form-control" name="" id="nro" aria-describedby="helpId" placeholder="">
                        </div>

                    </div>
                    <div class="col-xs col-md-3 mt-2">

                        <div class=" form-group">
                            <label for="">Nro. Factura Proveedor</label>
                            <input type="text" [(ngModel)]="nroFacturaProveedor" class="form-control" name="" id="nrofacturaproveedor" aria-describedby="helpId" placeholder="">
                        </div>

                    </div>
                    <div class="col-xs col-md-3 mt-2">
                        <div class=" form-group">
                            <label for="">Comentario</label>
                            <input type="text" [(ngModel)]="comentario" class="form-control" name="" id="monto" aria-describedby="helpId" placeholder="">
                        </div>
                    </div>
                    <div class="col-xs col-md-3 mt-2">
                        <div class=" form-group">
                            <label for="">Monto</label>
                            <input type="number" [(ngModel)]="monto" class="form-control" name="" id="monto" aria-describedby="helpId" placeholder="">
                        </div>
                    </div>
                </div>





                <div style="width: 100%; display: flex;" class="">
                    <div style="display: flex;" class="">
                        <span>Contrato</span>
                        <div *ngIf="contrato" style="height: fit-content;" class="pointer close-icon ml-auto">
                            <button (click)="removeContrato()" type="button" class="btn btn-sm btn-light"><i
                                    class=" ti-close  "></i></button>
                        </div>
                    </div>




                    <div *ngIf="!contrato" class="">
                        <div style="display: flex;" class="">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="">Buscar por numero de contrato</label>
                                        <br>
                                        <form action="" (ngSubmit)="buscarContratoPorNro(nrocontrato.value)">
                                            <input type="text" style="width: fit-content;" #nrocontrato class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                            <button type="submit" class="btn btn-info">Buscar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <button type="button" [routerLink]="['/admin/lista_contratos']" class="my-auto ml-2 btn btn-secondary">Buscar en lista de
                                        contratos</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="contrato" class="">
                        <div style="display: flex;" class="">

                            <div class="card bg-light">
                                <div class="card-body">

                                    <span><b>Titular:</b> {{contrato.titular.NOMBRES}}
                                        {{contrato.titular.APELLIDOS}}</span>
                                    <br>
                                    <span><b>Servicio:</b> {{contrato.producto.NOMBRE}}</span>
                                    <br>
                                    <span><b>Número de contrato:</b> {{contrato.nro_contrato}}</span>
                                    <br>
                                    <span><b>Fecha de creación:</b> {{contrato.fecha_creacion_unix | date }}</span>

                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="mx-auto">
                        <label for="">Tipo de Movimiento:</label>
                        <br>

                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" (click)="switchTipoMonto()" class="btn" [ngClass]="egresoActive">Egreso</button>
                            <button type="button" (click)="switchTipoMonto()" class="btn" [ngClass]="ingresoActive">Ingreso</button>

                        </div>
                    </div>

                </div>

                <div class="float-right">
                    <button type="button" (click)="saveshowCrearMovimiento(false)" class="btn btn-danger">cancelar</button>
                    <button type="submit" (click)="crearMovimiento()" [disabled]="!allowCreateMovimiento()" class="btn btn-primary ml-2">Crear</button>
                </div>

            </div>

        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <table *ngIf="!showCrearMovimiento && movimientos.length>0" class="table table-hover">
                <thead>
                    <tr>
                        <th>Nro Factura</th>
                        <th>Fecha</th>
                        <th>Nombre</th>
                        <th style="width: 25%;">Comentario</th>
                        <th>Monto haber</th>
                        <th>Monto total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of movimientos" [ngClass]="'pointer'">
                        <td>{{item.nro_factura}}</td>
                        <td>{{item.fecha_creacion_unix | date}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.comentario}}</td>

                        <td>{{item.monto_haber}}</td>
                        <td>{{item.monto_total | currency: '':'':'2.0'}} Gs</td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
    </ngx-loading>
</div>