<div *ngIf="contrato" class="container-fluid">
    <div class="row">
        <div class="col-md col-xs">
            <div class="card ">
                <div class="card-body">
                    <div style="justify-content: space-between;" class="inline-flex">
                        <h3 class="card-title">Cliente</h3>
                        <div *ngIf="cliente" (click)="cliente = null" class="pointer close-icon ml-auto">
                            <button type="button" class="btn btn-sm btn-light"><i class=" ti-close  "></i></button>
                        </div>
                    </div>

                    <div *ngIf="!cliente">

                        <ng-select [items]="clientes" [(ngModel)]="cliente" (search)="searchClientes($event)" notFoundText="no se encontraron resultados" placeholder="buscar cliente" bindLabel="NOMBRES" [searchFn]="customSearchFn">
                            <ng-template ng-option-tmp let-item="item">
                                <div> {{item.APELLIDOS}} {{item.NOMBRES}} <br>
                                    <small>{{item.RUC | ruc}}</small>
                                </div>

                            </ng-template>
                        </ng-select>

                    </div>
                    <div style="width: 100%; " *ngIf="cliente ">
                        <h5>Apellidos: <b>{{cliente.APELLIDOS}}</b></h5>
                        <h5>Nombres: <b>{{cliente.NOMBRES}}</b></h5>
                        <h5>Razon Social: <b>{{cliente.RAZON}}</b></h5>
                        <h5>RUC: <b>{{cliente.RUC | ruc}}</b></h5>
                        <h5>Direccion: <b>{{cliente.direccion_particular}}</b></h5>
                        <h5>Ciudad: <b>{{cliente.ciudad_trabajo}}</b></h5>

                        <h5>Telefonos: {{cliente.TELEFONO}}</h5>

                        <div class="row ">
                            <div class="col ">
                            </div>
                            <div class="col ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md col-xs">
            <div class="card ">
                <div class="card-body">
                    <div style="justify-content: space-between;" class="inline-flex">
                        <h3 class="card-title">Titular Alternativo</h3>
                        <div *ngIf="contrato.titular_alternativo" (click)="contrato.titular_alternativo = null" class="pointer close-icon ml-auto">
                            <button type="button" class="btn btn-sm btn-light"><i class=" ti-close  "></i></button>
                        </div>
                    </div>

                    <div *ngIf="!contrato.titular_alternativo">

                        <ng-select [items]="clientes" [(ngModel)]="contrato.titular_alternativo" (search)="searchClientes($event)" notFoundText="no se encontraron resultados" placeholder="buscar titular" bindLabel="NOMBRES" [searchFn]="customSearchFn">
                            <ng-template ng-option-tmp let-item="item">
                                <div> {{item.APELLIDOS}} {{item.NOMBRES}} <br>
                                    <small>{{item.RUC | ruc}}</small>
                                </div>

                            </ng-template>
                        </ng-select>

                    </div>
                    <div style="width: 100%; " *ngIf="contrato.titular_alternativo ">
                        <h5>Apellidos: <b>{{contrato.titular_alternativo.APELLIDOS}}</b></h5>
                        <h5>Nombres: <b>{{contrato.titular_alternativo.NOMBRES}}</b></h5>
                        <h5>Razon Social: <b>{{contrato.titular_alternativo.RAZON}}</b></h5>
                        <h5>RUC: <b>{{contrato.titular_alternativo.RUC | ruc}}</b></h5>
                        <h5>Direccion P: <b>{{contrato.titular_alternativo.DIRECCION}}</b></h5>
                        <h5>Direccion L: <b>{{contrato.titular_alternativo.DIRECCION_TRABAJO}}</b></h5>
                        <h5>Ciudad: <b>{{contrato.titular_alternativo.ciudad_trabajo}}</b></h5>

                        <h5>Telefonos: {{contrato.titular_alternativo.TELEFONO}}</h5>

                        <div class="row ">
                            <div class="col ">
                            </div>
                            <div class="col ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md col-xs">
            <div class="card ">
                <div class="card-body">
                    <div style="justify-content: space-between;" class="inline-flex">
                        <h4 class="card-title">Vendedor</h4>
                        <div *ngIf="vendedor" (click)="vendedor = null" class="pointer close-icon ml-auto">
                            <button type="button" class="btn btn-sm btn-light"><i class=" ti-close  "></i></button>
                        </div>
                    </div>
                    <!-- <ng-select [items]="cars" bindLabel="name" bindValue="id" [(ngModel)]="selectedCar">
                    </ng-select> -->
                    <div *ngIf="!vendedor">
                        <ng-select [items]="vendedores" [(ngModel)]="vendedor" (search)="searchVendedores($event)" notFoundText="no se encontraron resultados" placeholder="buscar vendedor" bindLabel="NOMBRES" [searchFn]="customSearchFn">
                            <ng-template ng-option-tmp let-item="item">
                                <div> {{item.APELLIDOS}} {{item.NOMBRES}} <br>
                                    <small>{{item.RUC | ruc}}</small>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                    <div style="width: 100%; " *ngIf="vendedor ">
                        <h5>Apellidos: <b>{{vendedor.APELLIDOS}}</b></h5>
                        <h5>Nombres: <b>{{vendedor.NOMBRES}}</b></h5>
                        <h5>Razon Social: <b>{{vendedor.RAZON}}</b></h5>
                        <h5>RUC: <b>{{vendedor.RUC | ruc}}</b></h5>
                        <h5>Telefonos: {{vendedor.TELEFONO}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md col-xs">
            <div class="card ">
                <div class="card-body">
                    <div style="justify-content: space-between;" class="inline-flex">
                        <h4 class="card-title">Cobrador</h4>
                        <div *ngIf="cobrador" (click)="cobrador = null" class="pointer close-icon ml-auto">
                            <button type="button" class="btn btn-sm btn-light"><i class=" ti-close  "></i></button>
                        </div>
                    </div>
                    <div class="ng-autocomplete">
                        <div *ngIf="!cobrador">
                            <ng-select [items]="cobradores" [(ngModel)]="cobrador" (search)="searchCobradores($event)" notFoundText="no se encontraron resultados" placeholder="buscar cobrador" bindLabel="NOMBRES" [searchFn]="customSearchFn">
                                <ng-template ng-option-tmp let-item="item">
                                    <div> {{item.APELLIDOS}} {{item.NOMBRES}} <br>
                                        <small>{{item.RUC | ruc}}</small>
                                    </div>

                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div style="width: 100%; " *ngIf="cobrador">
                        <h5>Apellidos: <b>{{cobrador.APELLIDOS}}</b></h5>
                        <h5>Nombres: <b>{{cobrador.NOMBRES}}</b></h5>
                        <h5>Razon Social: <b>{{cobrador.RAZON}}</b></h5>
                        <h5>RUC: <b>{{cobrador.RUC | ruc}}</b></h5>
                        <h5>Telefonos: {{cobrador.TELEFONO}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">

        <div class="col-md col-xs">

            <div class="card">
                <div class="card-body">
                    <div style="justify-content: space-between;" class="inline-flex">
                        <h3 class="card-title">Contrato</h3>
                    </div>
                    <div class="form-group">
                        <label for="">Numero de Contrato: </label>
                        <input type="number" class="form-control" name="" autocomplete="off !important" [(ngModel)]="contrato.nro_contrato" id="facturanumero" aria-describedby="helpId" placeholder="">
                    </div>
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de creacion</mat-label>
                        <input matInput [(ngModel)]="fecha_creacion" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>


            <div class="card">

                <div class="card-body">
                    <div>
                        <div style="justify-content: space-between;" class="inline-flex">
                            <h3 class="card-title">Producto</h3>
                            <div *ngIf="producto" class="pointer close-icon ml-auto">
                                <button (click)="producto = null" [disabled]='!editarproducto' type="button" class="btn btn-sm btn-light"><i class=" ti-close  "></i></button>
                            </div>
                        </div>
                        <ng-select *ngIf="!producto" [(ngModel)]="producto" (ngModelChange)="seleccionarProducto(producto)" [items]="productos" notFoundText="no se encontraron resultados" placeholder="buscar producto" bindLabel="NOMBRE">
                            <ng-template ng-option-tmp let-item="item">
                                <div> {{item.NOMBRE}} {{item.COD_CORTO}} <br>
                                </div>
                            </ng-template>
                        </ng-select>

                        <div class="" *ngIf="producto">
                            <h5>Nombre: <b>{{producto.NOMBRE}} - {{producto.COD_CORTO}}</b></h5>
                            <h5>Precio: <b>{{producto.PRECIO_MAYORISTA | currency:'':'':'2.0'}} Gs</b></h5>
                            <h5>Saldo: <b>{{contrato.saldo_pendiente | currency:'':'':'2.0'}} Gs</b></h5>

                            <!-- <h5>Entrega: </h5>  -->
                            <hr>

                            <div class="mt-2 inline-flex">
                                <h4 class=" mr-3">Forma de Pago: </h4>
                                <div style="width: 90%;" class="row">


                                    <div class="col-md-4 col-xs">
                                        <input [disabled]='!editarproducto' [(ngModel)]="pagoradioValue" (click)="resetPlazo()" class="with-gap radio-col-blue-grey" name="idTipoPlan2" type="radio" id="radio_4" value="contado" required>

                                        <label for="radio_4">Contado</label>
                                    </div>
                                    <div class="col-md-4 col-xs">
                                        <input [disabled]='!editarproducto' [(ngModel)]="pagoradioValue" name="idTipoPlan2" class="with-gap radio-col-blue-grey" type="radio" id="radio_5" value="cuota" required>
                                        <label for="radio_5">Cuotas</label>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md col-xs">
                                    <div class="form-group">
                                        <label for="">Entrega</label>
                                        <input [disabled]='!editarproducto' type="number" class="form-control" (ngModelChange)="calcularSaldo(en.value)" #en [(ngModel)]="entrega">
                                    </div>
                                    <h5>saldo <b>{{saldo | currency:'':'':'2.0'}} Gs</b></h5>
                                </div>
                                <div class="col-md col-xs">
                                    <div class="form-group">
                                        <label for="">plazo</label>
                                        <input [disabled]='!editarproducto' type="number" class="form-control" [(ngModel)]="plazo" (ngModelChange)="calcularCuotas()">
                                    </div>
                                    <h5>Monto Cuotas: <b>{{montoCuotas | currency:'':'':'2.0' }} Gs</b></h5>
                                </div>
                                <div class="col-md col-xs">
                                    <div class="form-group">
                                        <label for="">Fecha de pago </label>
                                        <input [disabled]='!editarproducto' type="text" placeholder="AAAA-MM-DD" class="form-control" [(ngModel)]="stringFechaPago" (ngModelChange)="calcularFechaPago()">
                                    </div>
                                    <h5> <b>{{fechaPago |date}}</b></h5>
                                </div>
                            </div>
                            <hr>
                            <div *ngIf="false" class="mt-2 inline-flex">
                                <div style="width: 100%;" class="row">
                                    <div class="col-md-4 col-xs">
                                        <input [disabled]='!editarproducto' [(ngModel)]="radioValue" name="idTipoPlan" type="radio" class="with-gap radio-col-blue-grey" id="radio_1" value="cobrador" required>

                                        <label for="radio_1">Cobrador</label>
                                    </div>
                                    <div class="col-md-4 col-xs">
                                        <input [disabled]='!editarproducto' [(ngModel)]="radioValue" name="idTipoPlan" type="radio" class="with-gap radio-col-blue-grey" id="radio_2" value="debito" required>
                                        <label for="radio_2">Débito Automático</label>
                                    </div>
                                    <div class="col-md-4 col-xs">
                                        <input [disabled]='!editarproducto' [(ngModel)]="radioValue" name="idTipoPlan" type="radio" class="with-gap radio-col-blue-grey" id="radio_3" value="administracion" required>
                                        <label for="radio_3">Administracion</label>
                                    </div>

                                </div>

                            </div>

                            <div class="mt-2 inline-flex">
                                <div style="width: 100%;" class="row">
                                    <div *ngFor="let item of tipos_pago; let i = index;" class="col-md-3 col-xs">
                                        <input [(ngModel)]="contrato.tipo_pago" name="idTipoPlan" type="radio" class="with-gap radio-col-blue-grey" id="radio_-{{i}}" [value]="item.value" required>

                                        <label for="radio_-{{i}}">{{item.name}}</label>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                    <button type="button" *ngIf="editarproducto" (click)="cancelarEdiciondeProducto()" class="btn float-right btn-danger">Cancelar</button>
                    <button type="button" *ngIf="!editarproducto" (click)="editarProducto()" class="btn float-right btn-info">Editar Producto</button>

                </div>
            </div>


            <div class="" *ngIf="facturas">

                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Cuotas</h3>

                        <div style="overflow: auto; max-height: 400px;">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Vencimiento</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr *ngFor="let cuota of facturas; let i = index">
                                        <td scope="row">{{i+1}}</td>
                                        <td>{{cuota.vencimiento | date}}</td>
                                        <td>{{cuota.monto| currency:'':'':'2.0' }} Gs</td>
                                    </tr>


                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>



            </div>
            <div *ngIf="producto">
                <div *ngIf="!esUdp" class="">
                    <div class="card">
                        <div class="card-body">
                            <h3>Beneficiarios</h3>
                            <table class=" table  ">
                                <thead>
                                    <tr>
                                        <th class="text-center">C.I.</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Fecha Nacimiento</th>
                                        <th class="text-center">edad</th>
                                        <th class="text-center">Plus por edad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of contrato.beneficiarios; let i = index">
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="item.doc" name="name-{{i}}" placeholder="cedula de identidad">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="item.nombre" name="name-{{i}}" placeholder="nombre completo">
                                        </td>
                                        <td>
                                            <!-- <input type="text" class="form-control" (ngModelChange)="item.edad = calcularEdad(fchn.value)" #fchn [(ngModel)]="item.fecha_nacimiento" name="name-{{i}}" placeholder="aaaa/mm/dd"> -->

                                            <mat-form-field appearance="fill">
                                                <mat-label>Fecha de nacimiento</mat-label>
                                                <input matInput [(ngModel)]="item.fecha_nacimiento" [matDatepicker]="pickernacimiento">
                                                <mat-datepicker-toggle matSuffix [for]="pickernacimiento"></mat-datepicker-toggle>
                                                <mat-datepicker #pickernacimiento></mat-datepicker>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <label for="">{{ item.fecha_nacimiento | edad}}</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="item.plus_edad" name="name-{{i}}" placeholder="plus por edad">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="beneficiarios.length < 6" class="inline-flex">
                                <button type="button" (click)="beneficiarioPush()" class="btn m-auto btn-circle btn-info">+</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="esUdp">
                    <div class="card">
                        <div class="card-body  ">
                            <h3>Ubicacion</h3>
                            <table style="width: 100%; " class=" table ">
                                <thead>
                                    <tr>
                                        <th class="text-center">Manzana</th>
                                        <th class="text-center">Fila</th>
                                        <th class="text-center">Parcela</th>
                                        <th class="text-center">Sector</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" [(ngModel)]="contrato.manzana" class="form-control" name="manzana" id="" aria-describedby="helpId" placeholder="">
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="contrato.fila" class="form-control" name="fila" id="" aria-describedby="helpId" placeholder="">
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="contrato.parcela" class="form-control" name="parcela" id="" aria-describedby="helpId" placeholder="">
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="contrato.sector" class="form-control" name="sector" id="" aria-describedby="helpId" placeholder="">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body  ">
                            <h3>Cuota de Mantenimiento</h3>
                            <div style="max-width: 300px;" class="form-group">
                                <label for="">Fecha de pago </label>
                                <input type="text" placeholder="AAAA-MM-DD" class="form-control" [(ngModel)]="stringFechaMantenimiento" (ngModelChange)="calcularFechaMantenimiento()">
                            </div>

                            <span>Fecha por defecto <b>{{fechaMantenimiento |date}}</b> </span>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3>Inhumaciones</h3>
                            <table class=" table  ">
                                <thead>
                                    <tr>
                                        <th class="text-center">C.I.</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Fecha fallecimiento</th>
                                        <th class="text-center">Fecha Inhumacion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of contrato.inhumados; let i = index">
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="item.ci" name="name-{{i}}" placeholder="cedula de identidad">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="item.nombre" name="name-{{i}}" placeholder="nombre completo">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="item.fecha_fallecimiento" name="name-{{i}}" placeholder="fecha de fallecimiento">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="item.fecha_inhumacion" name="name-{{i}}" placeholder="fecha de inhumacion">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="inhumados.length < 6" class="inline-flex">
                                <button type="button" (click)="inhumadoPush()" class="btn m-auto btn-circle btn-info">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" (click)="editarContrato()" [disabled]="disableCrearContrato()" class="btn float-right btn-success">Actualizar Contrato</button>

            </div>
        </div>
    </div>
</div>