<div class="my-container">

    <ng-template #customLoadingTemplate>

    </ng-template>

    <div class="row">
        <div class="col-xs col-md">
            <div class="card">
                <div class="card-body">
                    <h4> <span class="lstick"></span> Filtros </h4>
                    <div class="row">
                        <div class="col-xs col-md-5 pl-3 mr-3">
                            <p>Fondo: </p>
                            <div class="inline-flex">
                                <div style="min-width: 100%;" *ngIf="!fondo">
                                    <ng-select [items]="fondos" [(ngModel)]="fondo" (ngModelChange)="seleccionarFondo(fondo)" (search)="searchBancos($event)" notFoundText="no se encontraron resultados" placeholder="Filtrar por fondo" bindLabel="NOMBRES" [searchFn]="customSearchFn">
                                        <ng-template ng-option-tmp let-item="item">
                                            <div>
                                                <div *ngIf="item.APELLIDOS">{{item.APELLIDOS}} {{item.NOMBRES}}</div>
                                                <div *ngIf="item.NOMBRES && item.RAZON"> - </div>
                                                <div *ngIf="item.RAZON">{{item.RAZON}} </div>


                                                <small>{{item.RUC | ruc}}</small>
                                            </div>

                                        </ng-template>
                                    </ng-select>
                                </div>

                                <div class="ml-2" *ngIf="fondo">
                                    <h3>
                                        <div *ngIf="fondo.NOMBRES">{{fondo.NOMBRES}} {{fondo.APELLIDOS}}</div>
                                        <div *ngIf="fondo.NOMBRES && fondo.RAZON"> - </div>
                                        <div *ngIf="fondo.RAZON">{{fondo.RAZON}} </div>

                                        <small>{{fondo.RUC | ruc}}</small>
                                    </h3>
                                </div>
                                <div *ngIf="fondo" (click)="fondo = null" class="pointer close-icon ml-2">
                                    <button type="button" (click)="ngOnInit()" class="btn btn-sm btn-light"><i
                                            class=" ti-close  "></i></button>
                                </div>
                                <!-- <button type="button" (click)="ngOnInit()" class="btn float-right mt-1 btn-primary">Filtrar</button> -->

                            </div>

                        </div>
                        <!-- <div class="b-l col-md col-xs">
                            <div class="">
                                <div class="inline-flex">
                                    <div style="max-width:120%;" class="form-group p-0 mb-0">
                                        <p for="">inicio</p>
                                        <input type="text" [(ngModel)]="ngmodelstart" (ngModelChange)="calcularFecha(true, ngmodelstart)" class=" form-control" name="" id="" aria-describedby="helpId" placeholder="AAAA MM DD">
                                        <small class="ml-2">{{start | date}}</small>

                                    </div>
                                    <div style="max-width:100%;" class="ml-2 mb-0 form-group">
                                        <p for="">fin</p>
                                        <input type="text" [(ngModel)]="ngmodelend" (ngModelChange)="calcularFecha(false, ngmodelend)" class="form-control" name="" id="" aria-describedby="helpId" placeholder="AAAA MM DD">
                                        <small class="ml-2">{{end | date}}</small>
                                    </div>
                                </div>
                                <button type="button" (click)="ngOnInit()" class="btn float-right mt-1 btn-primary">Filtrar</button>

                            </div>
                        </div> -->
                    </div>


                </div>
            </div>
        </div>


        <div class="col-xs col-md">

            <div class="card">
                <div class="card-body">

                    <h4> <span class="lstick"></span> Arqueo
                    </h4>
                    <div class="row">
                        <div class="col-xs col-md">
                            <h4>Movimientos</h4>
                            <span><b>Monto Total: </b>{{HaberMovimientos | currency: '':'':'2.0'}} Gs</span>
                            <br>
                            <span><b>Cantidad: </b>{{movimientoCount}}</span>
                            <!-- <h4><b>Total Monto: </b>{{totalMovimientos| currency: '':'':'2.0'}} Gs</h4> -->
                        </div>
                        <div class="ml-3 col-xs col-md b-l">
                            <h4>Facturas</h4>
                            <span><b>Monto total: </b> {{totalFacturas | currency: '':'':'2.0'}} Gs</span>
                            <br>
                            <span><b>Cantidad: </b> {{facturaCount}}</span>
                        </div>

                    </div>
                    <div class="mt-3 inline-flex">
                        <h2><b>Total: </b> {{ (totalFacturas + HaberMovimientos) | currency: '':'':'2.0'}} Gs</h2>
                        <button type="button" [disabled]="!fondo" (click)="cerrarCaja()" class="btn ml-auto btn-success">Cerrar Caja</button>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="row">


        <!-- <h4>Total en Movimientos: {{}}</h4> -->
        <div class="col-xs col-md">
            <app-lista-movimientos *ngIf="movimientos" [movimientos]="movimientos"></app-lista-movimientos>
        </div>
        <div class="col-xs col-md">
            <button type="button" (click)="print()" class="btn btn-primary">print</button>
            <app-facturas [selectable]='true' [fondo]="fondo" (AllSelectedEvent)="isAllSelectedIngresos = $event" (listItemsEvent)="listItems = $event" [cerrado]="false" [pagado]="true" [start]="start" [end]="end" [count]="facturaCount" [fromOutside]="true" [facturas]="facturas"></app-facturas>
        </div>
    </div>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
    </ngx-loading>
</div>