<div class="container-fluid">
    <div class="row">
        <div class="col-md col-xs">
            <div class="card ">
                <div class="card-body">
                    <div style="justify-content: space-between;" class="inline-flex">
                        <h3 class="card-title">Cliente</h3>
                    </div>

                    <div style="width: 100%; " *ngIf="cliente ">
                        <h5>Apellidos: <b>{{cliente.APELLIDOS}}</b></h5>
                        <h5>Nombres: <b>{{cliente.NOMBRES}}</b></h5>
                        <h5>Razon Social: <b>{{cliente.RAZON}}</b></h5>
                        <h5>RUC: <b>{{cliente.RUC}}</b></h5>
                        <h5>Direccion: <b>{{cliente.direccion_particular}}</b></h5>
                        <h5>Ciudad: <b>{{cliente.ciudad_trabajo}}</b></h5>

                        <h5>Telefonos: {{cliente.TELEFONO}}</h5>

                        <div class="row ">
                            <div class="col ">
                            </div>
                            <div class="col ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md col-xs">
            <div class="card ">
                <div class="card-body">
                    <div style="justify-content: space-between;" class="inline-flex">
                        <h3 class="card-title">Titular Alternativo</h3>
                    </div>

                    <div style="width: 100%; " *ngIf="titularAlternativo ">
                        <h5>Apellidos: <b>{{titularAlternativo.APELLIDOS}}</b></h5>
                        <h5>Nombres: <b>{{titularAlternativo.NOMBRES}}</b></h5>
                        <h5>Razon Social: <b>{{titularAlternativo.RAZON}}</b></h5>
                        <h5>RUC: <b>{{titularAlternativo.RUC}}</b></h5>
                        <h5>Direccion: <b>{{titularAlternativo.direccion_particular}}</b></h5>
                        <h5>Ciudad: <b>{{titularAlternativo.ciudad_trabajo}}</b></h5>

                        <h5>Telefonos: {{titularAlternativo.TELEFONO}}</h5>

                        <div class="row ">
                            <div class="col ">
                            </div>
                            <div class="col ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md col-xs">
            <div class="card ">
                <div class="card-body">
                    <div style="justify-content: space-between;" class="inline-flex">
                        <h4 class="card-title">Vendedor</h4>

                    </div>
                    <!-- <ng-select [items]="cars" bindLabel="name" bindValue="id" [(ngModel)]="selectedCar">
                    </ng-select> -->

                    <div style="width: 100%; " *ngIf="vendedor ">
                        <h5>Apellidos: <b>{{vendedor.APELLIDOS}}</b></h5>
                        <h5>Nombres: <b>{{vendedor.NOMBRES}}</b></h5>
                        <h5>Razon Social: <b>{{vendedor.RAZON}}</b></h5>
                        <h5>RUC: <b>{{vendedor.RUC}}</b></h5>
                        <h5>Telefonos: {{vendedor.TELEFONO}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md col-xs">
            <div class="card ">
                <div class="card-body">
                    <div style="justify-content: space-between;" class="inline-flex">
                        <h4 class="card-title">Cobrador</h4>
                    </div>
                    <div style="width: 100%; " *ngIf="cobrador">
                        <h5>Apellidos: <b>{{cobrador.APELLIDOS}}</b></h5>
                        <h5>Nombres: <b>{{cobrador.NOMBRES}}</b></h5>
                        <h5>Razon Social: <b>{{cobrador.RAZON}}</b></h5>
                        <h5>RUC: <b>{{cobrador.RUC}}</b></h5>
                        <h5>Telefonos: {{cobrador.TELEFONO}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div style="justify-content: space-between;" class="inline-flex">
                <h3 class="card-title">Producto</h3>

            </div>


            <div class="" *ngIf="producto">
                <h5>Nombre: <b>{{producto.NOMBRE}} - {{producto.COD_CORTO}}</b></h5>
                <h5>Precio: <b>{{producto.PRECIO_MAYORISTA | currency:'':'':'2.0'}} Gs</b></h5>
                <h5>Saldo: <b>{{contrato.saldo_pendiente | currency:'':'':'2.0'}} Gs</b></h5>
                <!-- <h5>Entrega: </h5>  -->
                <hr>

                <div class="mt-2 inline-flex">
                    <h4 *ngIf="contrato.plazo == 1" class=" mr-3"><b>Forma de Pago:</b> Contado</h4>
                    <h4 *ngIf="contrato.plazo != 1" class=" mr-3"><b>Forma de Pago:</b> En {{contrato.plazo}} cuotas </h4>
                    <h4 *ngIf="contrato.entrega" class=" mr-3"><b>Entrega:</b> {{contrato.entrega | currency: '':'':'2.0'}} Gs</h4>
                    <h4 *ngIf="!contrato.entrega" class=" mr-3"><b>Entrega:</b> Sin entrega</h4>
                    <h4 *ngIf="contrato.entrega" class=" mr-3"><b>saldo:</b> {{(contrato.producto.PRECIO_MAYORISTA - contrato.entrega ) | currency: '':'':'2.0'}} Gs
                    </h4>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4 col-xs">
                        <div class="form-group">
                            <label for=""><b>Numero de Factura:</b> {{contrato.nro_contrato}}</label>

                        </div>
                    </div>

                    <div class="col-md-8 col-xs  ">
                        <label><b>Lugar de cobranza: </b> Direccion particular</label>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4> <span class="lstick"></span>Pagar Cuotas</h4>

            <div class="my-3 d-flex">
                <div class="mx-auto">
                    <div class="form-group">
                        <input type="text" class="form-control" #montoAPagar name="" id="" aria-describedby="helpId" placeholder="ingresar monto a pagar">
                    </div>
                </div>

            </div>
            <div class="d-flex">
                <div class="mx-auto">
                    <button (click)="getFacturasApagar(contrato._id, montoAPagar.value)" class="btn btn-info">calcular</button>
                </div>

            </div>
            <div class="" *ngIf="facturasAPagar">

                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Cuotas</h3>

                        <div style="overflow: auto; max-height: 400px;">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Vencimiento</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr *ngFor="let cuota of facturasAPagar; let i = index">
                                        <td scope="row">{{i+1}}</td>
                                        <td>{{cuota.vencimiento | date}}</td>
                                        <td>{{cuota.haber| currency:'':'':'2.0' }} Gs</td>
                                    </tr>


                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
                <div class="d-flex">
                    <div class="mx-auto">
                        <button (click)="confirmarPago(contrato._id, montoAPagar.value)" class="btn btn-success">Confirmar Pago</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md col-xs">

            <app-lista-movimientos [movimientos]="movimientos"></app-lista-movimientos>


        </div>
        <div class="col-lg" *ngIf="facturas">

            <app-facturas [count]="facturasCount" [options]="facturaOptions" [fromOutside]='true' [facturas]='facturas'></app-facturas>

        </div>

    </div>

    <div *ngIf="producto">
        <div *ngIf="!esUdp" class="">
            <div class="card">
                <div class="card-body">
                    <h3>Beneficiarios</h3>
                    <table class=" table  ">
                        <thead>
                            <tr>
                                <th class="text-center">C.I.</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Fecha Nacimiento</th>
                                <th class="text-center">edad</th>
                                <th class="text-center">Plus por edad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of contrato.beneficiarios; let i = index">
                                <td class="text-center">
                                    {{item.doc}}
                                </td>
                                <td class="text-center">
                                    {{item.nombre}}
                                </td>
                                <td class="text-center">
                                    {{item.fecha_nacimiento}}
                                </td>
                                <td class="text-center">
                                    1
                                </td>
                                <td class="text-center">
                                    2
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div *ngIf="contrato.beneficiarios.length < 6" class="inline-flex">
                        <button type="button" (click)="beneficiarioPush()"
                            class="btn m-auto btn-circle btn-info">+</button>
                    </div> -->
                </div>
            </div>
        </div>

        <div *ngIf="esUdp">
            <div class="card">
                <div class="card-body  ">
                    <h3>Ubicacion</h3>
                    <table style="width: 100%; " class=" table ">
                        <thead>
                            <tr>
                                <th class="text-center">Manzana</th>
                                <th class="text-center">Fila</th>
                                <th class="text-center">Parcela</th>
                                <th class="text-center">Sector</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div *ngIf="contrato.inhumados" class="card-body">
                    <h3>Inhumaciones</h3>
                    <table class=" table  ">
                        <thead>
                            <tr>
                                <th class="text-center">C.I.</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Fecha fallecimiento</th>
                                <th class="text-center">Fecha Inhumacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of contrato.inhumados; let i = index">
                                <td class="text-center">
                                    {{item.ci}}
                                </td>
                                <td class="text-center">
                                    {{item.nombre}}
                                </td>
                                <td class="text-center">
                                    {{item.fecha_fallecimiento}}
                                </td>
                                <td class="text-center">
                                    {{item.fecha_inhumacion}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
    <div class="float-right">
        <button type="button" [routerLink]="['/admin/editar_contrato', this.id]" class="btn mr-2 btn-secondary">Editar Contrato</button>
        <button type="button" (click)="crearMovimiento()" class="btn  btn-primary">Crear Movimiento</button>
        <button type="button" (click)="viewContrato()" class="btn  btn-primary">Ver PDF</button>
    </div>


</div>