<div class="card">

    <div class="card-body">
        <h4 *ngIf="showlabel && facturas"> <span class="lstick"></span> Ingresos </h4>
        <div style="overflow-x: auto;" class="">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th class="text-center" *ngIf="!selectable">#</th>
                        <th class="text-center" *ngIf="selectable">
                            <input [(ngModel)]="selectAll" type="checkbox" name="check_all" id="allitems" class="filled-in  chk-col-light-blue" (click)="selectToAll()" checked />
                            <label style="margin-bottom:0 ; padding: 0;" for="allitems"></label>

                        </th>
                        <th class="text-center" style="min-width: 150px;">
                            fondo
                        </th>
                        <th class="text-center" style="min-width: 130px;">
                            Nro. Contrato
                        </th>
                        <th class="text-center" style="min-width: 200px;">
                            Emisión
                        </th>
                        <th class="text-center" style="min-width: 150px;">
                            Monto
                        </th>
                        <th class="text-center" style="min-width: 200px;" *ngIf="!fromOutside">
                            Cliente
                        </th>
                        <th class="text-center" style="min-width: 150px;">
                            Vencimiento
                        </th>
                        <th class="text-center" style="min-width: 400px;">
                            Servicio
                        </th>
                        <th class="text-center" style="min-width: 150px;">Pagado

                        </th>
                        <th class="text-center" *ngIf="!fromOutside" style="min-width: 200px;">
                            cobrador
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <!--  | paginate: { itemsPerPage: 10,totalItems:count, currentPage: page } -->
                    <tr (click)="selectItem(factura._id)" id="id-{{factura._id}}" class="item-table pointer" *ngFor="let factura of facturas  | paginate: { itemsPerPage: 10,totalItems:count, currentPage: page } ; let i = index;">
                        <td class="text-center" scope="row">{{page*10 + (i+1) - 10}}</td>
                        <td class="text-center" *ngIf="factura.fondo">{{factura.fondo.NOMBRES}} {{factura.fondo.APELLIDOS}} {{factura.fondo.RAZON}}
                        </td>
                        <td class="text-center" *ngIf="!factura.fondo">Sin fondo</td>

                        <td class="text-center">
                            <div *ngIf="factura.contrato">{{factura.contrato.nro_contrato | currency:'':'':'2.0'}}</div>
                            <div *ngIf="!factura.contrato">---</div>
                        </td>

                        <td class="text-center">
                            {{factura.fecha_creacion_unix | date:' d, MMM y'}}
                            <span class="" *ngIf="!fromOutside"> {{factura.fecha_creacion_unix | date:' h:mm a'}}</span>

                        </td>

                        <td class="text-center">{{factura.haber | currency:'':'':'2.0'}} Gs</td>
                        <td class="text-center" *ngIf="!fromOutside">
                            {{factura.titular.NOMBRES | primerNombre}} {{factura.titular.APELLIDOS | primerNombre }}
                        </td>
                        <td class="text-center">{{factura.vencimiento | date}}</td>
                        <td class="text-center" *ngIf="!fromOutside && factura.servicio">
                            <div *ngIf="factura.servicio?.COD_CORTO == 'C.M.P.'"></div> {{factura.servicio.NOMBRE }}
                        </td>
                        <td class="text-center" *ngIf="fromOutside && factura.servicio">
                            {{factura.servicio.COD_CORTO }}
                        </td>
                        <td class="text-center" *ngIf="factura.pagado"><b>{{factura.fecha_pagado_unix | date}}</b></td>
                        <td class="text-center text-danger" *ngIf="!factura.pagado">Pendiente</td>
                        <td class="text-center" *ngIf="!fromOutside">
                            <div *ngIf="factura.cobrador">
                                {{factura.cobrador.NOMBRES | primerNombre}} {{factura.cobrador.APELLIDOS | primerNombre }}
                            </div>
                            <div *ngIf="!factura.cobrador">
                                ---
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination-controls *ngIf="count>10" (pageChange)="pageChanged($event); page = $event"></pagination-controls>
    </div>
</div>