<div class="card">

    <div class="card-body">
        <h4 *ngIf="showlabel"> <span class="lstick"></span> Ingresos </h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th *ngIf="!selectable">#</th>
                    <th *ngIf="selectable">
                        <input [(ngModel)]="selectAll" type="checkbox" name="check_all" id="allitems" class="filled-in  chk-col-light-blue" (click)="selectToAll()" checked />
                        <label style="margin-bottom:0 ; padding: 0;" for="allitems"></label>

                    </th>
                    <th style="width: 14%;">fondo</th>
                    <th>fecha</th>
                    <th>Monto</th>
                    <th *ngIf="!fromOutside">Cliente</th>
                    <th *ngIf="!fromOutside">Vencimiento</th>
                    <th>Servicio</th>
                    <th>Pagado</th>
                </tr>
            </thead>
            <tbody>
                <!--  | paginate: { itemsPerPage: 10,totalItems:count, currentPage: page } -->
                <tr (click)="selectItem(factura._id)" id="id-{{factura._id}}" class="item-table pointer" *ngFor="let factura of facturas  | paginate: { itemsPerPage: 10,totalItems:count, currentPage: page } ; let i = index;">
                    <td scope="row">{{page*10 + (i+1) - 10}}</td>
                    <td *ngIf="factura.fondo">{{factura.fondo.NOMBRES}} {{factura.fondo.APELLIDOS}} {{factura.fondo.RAZON}}</td>
                    <td *ngIf="!factura.fondo">Sin fondo</td>
                    <td>
                        {{factura.fecha_creacion_unix | date:' d, MMM y'}}
                        <br> {{factura.fecha_creacion_unix | date:' h:mm a'}}


                    </td>
                    <td>{{factura.haber | currency:'':'':'2.0'}} Gs</td>
                    <td *ngIf="!fromOutside">{{factura.titular.NOMBRES| nombreCorto}} {{factura.titular.APELLIDOS | nombreCorto}} </td>
                    <td *ngIf="!fromOutside">{{factura.vencimiento | date}}</td>
                    <td *ngIf="!fromOutside && factura.servicio">
                        <div *ngIf="factura.servicio.COD_CORTO == 'C.M.P.'"></div> {{factura.contrato.nombre_servicio }}
                    </td>
                    <td *ngIf="fromOutside && factura.servicio">
                        {{factura.servicio.COD_CORTO }}
                    </td>
                    <td *ngIf="factura.pagado"><b>{{factura.fecha_pagado_unix | date}}</b></td>
                    <td class="text-danger" *ngIf="!factura.pagado">Pendiente</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls *ngIf="count>10" (pageChange)="pageChanged($event); page = $event"></pagination-controls>
    </div>
</div>